@model ExamenJohnnyDePaz.Models.EmpleadoHabilidad

@{
    ViewData["Title"] = "Eliminar habilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar habilidad</h1>

<h3>¿Seguro/a que desea eliminar esta Habilidad?</h3>
<div>
    <h4>EmpleadoHabilidad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre de Habilidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHabilidad)
        </dd>
        <dt class = "col-sm-2">
           Empleado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.NombreCompleto)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHabilidad" />
        <input type="submit" value="Eliminar Habilidad" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al Listado</a>
    </form>
</div>
