@model IEnumerable<ExamenJohnnyDePaz.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";

}

<h1>Empleados</h1>

<p>
    <a asp-action="Create">Registrar Empleado</a>
</p>

<div>
    <table id="tblEmpleados" class="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>DUI</th>
                <th>Correo</th>
                <th>F. Nacimiento</th>
                <th>F. Ingreso</th>
                <th>Jefe</th>
                <th>Área</th>
                <th>Foto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Empleados/json",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    });
    function OnSuccess(response) {
        var customers = eval(response);
        $("#tblEmpleados").DataTable(
            {
                language: {
                    processing: "Procesando...",
                    lengthMenu: "Mostrar _MENU_ registros",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    search: "Buscar:",
                    infoThousands: ",",
                    loadingRecords: "Cargando...",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    }
                }, 
                bLengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: customers,
                columnDefs: [
                    {
                        'targets': [0],
                        'visible': false,
                        'searchable': false
                    }
                ],
                columns: [                    
                    { 'data': 'idEmpleado' },
                    { 'data': 'nombreCompleto' },
                    { 'data': 'cedula' },
                    { 'data': 'correo' },
                    { 'data': 'fechaNacimiento' },
                    { 'data': 'fechaIngreso' },
                    { 'data': 'jefe' },
                    { 'data': 'area' },
                    { 'data': 'foto' },
                    { 'data': 'idEmpleado','render': function (data) {
                        return '<a class="btn btn-info" style="margin-left: 5px;margin-top: 5px" href="/Empleados/Edit/' + data + '")><i class="fa fa-pencil" aria-hidden="true"></i></a><a class="btn btn-info" style="margin-left: 5px;margin-top: 5px" href="/EmpleadoHabilidades/HabilidadesEmpleado/' + data + '")><i class="fa fa-tasks" aria-hidden="true"></i></a><a class="btn btn-danger" style="margin-left: 5px;margin-top: 5px" href="/Empleados/Delete/' + data + '")><i class="fa fa-trash-o" aria-hidden="true"></i></a>';
                    }
                    }
                     
                ]
            });
    };
</script>
